/* PAGE BASE */
.today-container {
  width: 100%;
  padding: 18px;
  background: #fff8ef;
  min-height: 100vh;
}

/* PAGE HEADER */
.today-header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  background: white;
  padding: 12px 0;
  border-radius: 15px;
  border: 1px solid #ffb87a;
  width: 98%;
  margin: 0 auto 25px auto;
  box-shadow: 0 3px 8px rgba(255, 153, 51, 0.3);
  position: relative;
}

.back-btn {
  position: absolute;
  left: 20px;
  font-size: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

/* TABLE */
.today-table-wrapper {
  width: 98%;
  margin: auto;
  background: white;
  border: 1px solid #ffb87a;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 3px 8px rgba(255, 153, 51, 0.25);
  overflow-x: auto;
}

.today-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.today-table th {
  background: #ff9933;
  color: #fff;
  padding: 10px;
  text-align: left;
}

.today-table td {
  padding: 10px;
  border-bottom: 1px solid #ffe0c2;
}

.today-table tr:hover {
  background: #fff1dd;
}

/* PAGINATION */
.today-pagination {
  width: 98%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.pagination-btn {
  padding: 6px 18px;
  border: 1px solid #ffb87a;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}

.pagination-btn:hover:not(:disabled) {
  background: #ffe7d1;
}

.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
  font-weight: bold;
  font-size: 16px;
}
