.help-container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

/* Top Bar */
.top-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ffa94d;
  padding: 10px 20px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
}

.top-bar h1 {
  flex-grow: 1;
  text-align: center;
  margin-right: 40px;
}

/* Form */
/* .help-form {
  width: 90%;
  margin: auto;
} */

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.col {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.col input,
.file-input {
  /* border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px; */


    width: 99% !important;
  max-width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.upload{
        width: 40% !important;

}

.full-row {
  /* display: flex;
  flex-direction: column;
  margin-bottom: 25px; */

   width: 99% !important;
  max-width: 100%;
  /* box-sizing: border-box; */
  padding: 14px;
  border-radius: 8px;
  /* border: 1px solid #ddd; */
  font-size: 16px;
}

.full-row textarea {
  height: 140px;
  resize: none;
  border: 1px solid #444;
  border-radius: 4px;
  padding: 10px;
}

/* Submit */
.submit-btn {
  padding: 10px 40px;
  background: #f8961e;
  color: black;
  border: none;
  border-radius: 6px;
  float: right;
  cursor: pointer;
  font-weight: bold;
}

/* Table */
.help-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 40px;
}

.help-table th {
  padding: 12px;
  background: #ffa94d;
  color: white;
}

.help-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.thumbnail {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 4px;
}

/* Pagination */
.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.pagination button {
  padding: 6px 12px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
  cursor: pointer;
}

.edit-icon {
  cursor: pointer;
  font-size: 18px;
}
