.dashboard-container {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.dashboard-title {
  width: 1050px;
  font-size: 28px;
  margin-bottom: 25px;
  font-weight: bold;
  border: 2px solid #ffddc1;
  display: inline-block;
  padding: 10px 40px;
  border-radius: 10px;
  background: #fff8f2;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  justify-items: center;
}

.dashboard-card {
  width: 140px;
  height: 150px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
  padding: 15px;
  position: relative;
  border-bottom: 28px solid #ffa940;
  cursor: pointer;
  transition: 0.3s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 12px rgba(0,0,0,0.25);
}

.card-icon {
  width: 90px;
  height: 90px;
  margin-bottom: 20px;
}

.card-title {
  font-size: 14px;
  font-weight: 600;
  color: #444;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ffa940;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
  font-size: 12px;
  font-weight: bold;
}
