.contact-container {
  width: 90%;
  margin: auto;
  font-family: Arial, sans-serif;
}

.top-bar {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ffa94d;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 6px;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
}

h1 {
  flex-grow: 1;
  text-align: center;
  margin-right: 40px;
}

.contact-form {
  margin-bottom: 25px;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  
}

.form-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  
}

.form-items{
  width: 100% !important;
  max-width: 31%;
  /* box-sizing: border-box; */
  /* padding: 14px; */
  /* border-radius: 8px; */
  /* border: 1px solid #ddd; */
  font-size: 16px;
}

.form-item label {
  margin-bottom: 5px;
  color: #444;
}

.form-item input {
   width: 100% !important;
  max-width: 100%;
  box-sizing: border-box;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.submit-btn {
  display: block;
  margin: auto;
  padding: 10px 25px;
  background: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.contact-table th {
  background: orange;
  color: white;
  padding: 12px;
}

.contact-table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.pagination {
  /* margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  gap: 10px; */

  width: 98%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.pagination button {
  /* padding: 6px 12px;
  border: 1px solid #ccc;
  background: white;
  border-radius: 5px;
  cursor: pointer; */

  padding: 6px 18px;
  border: 1px solid #ffb87a;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}
