.side-menu {
  width: 120px;
  background: #f9f9f9;
  height: 100vh;
  padding-top: 20px;
  border-right: 2px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-item {
  width: 100%;
  padding: 12px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item:hover {
  background: #ffe8d1;
  border-radius: 10px;
}

.menu-icon {
  width: 35px;
  height: 35px;
  margin-bottom: 5px;
}

.menu-text {
  font-size: 12px;
  font-weight: 600;
  color: #333;
  text-align: center;
  line-height: 14px;
}
