/* PAGE CONTAINER */
.total-container {
  width: 100%;
  padding: 20px;
  background: #fff8ef;
  min-height: 100vh;
}

/* HEADER */
.total-header {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  background: white;
  padding: 12px 0;
  border-radius: 15px;
  border: 1px solid #ffb87a;
  width: 98%;
  margin: 0 auto 25px auto;
  box-shadow: 0 3px 8px rgba(255, 153, 51, 0.3);
}

/* FILTER SECTION */
.filters-box {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
}

/* SEARCH BOX */
.search-box {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ffb87a;
  padding: 8px 12px;
  border-radius: 30px;
  width: 320px;
  box-shadow: 0px 2px 4px rgba(255, 153, 51, 0.2);
}

.search-input {
  border: none;
  outline: none;
  flex-grow: 1;
  font-size: 15px;
  color: #333;
}

.search-icon {
  font-size: 18px;
  cursor: pointer;
}

/* DATE FILTERS */
.date-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.date-box {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ffb87a;
  padding: 8px 12px;
  border-radius: 30px;
  box-shadow: 0px 2px 4px rgba(255, 153, 51, 0.2);
}

.date-icon {
  margin-right: 6px;
  font-size: 18px;
}

.date-input {
  border: none;
  outline: none;
  font-size: 14px;
}

.date-dash {
  font-weight: bold;
  font-size: 18px;
}

/* REJECT BUTTON */
.reject-btn {
  background: red;
  color: white;
  padding: 8px 18px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.reject-btn:hover {
  opacity: 0.8;
}

/* TABLE */
.table-wrapper {
  width: 98%;
  margin: 20px auto;
  background: white;
  border: 1px solid #ffb87a;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0px 3px 8px rgba(255, 153, 51, 0.25);
  overflow-x: auto;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 14px;
}

.user-table th {
  background: #ff9933;
  color: white;
  padding: 10px;
  text-align: left;
}

.user-table td {
  padding: 10px;
  border-bottom: 1px solid #ffe0c2;
}

.user-table tr:hover {
  background: #fff1dd;
}

/* ACTION BUTTONS */
.action-buttons {
  display: flex;
  gap: 10px;
}

.view-btn,
.edit-btn,
.delete-btn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
}

.view-btn {
  color: blue;
}

.edit-btn {
  color: orange;
}

.delete-btn {
  color: red;
}

/* PAGINATION */
.pagination-box {
  width: 98%;
  margin: 20px auto;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  align-items: center;
}

.pagination-btn {
  padding: 6px 18px;
  border: 1px solid #ffb87a;
  background: white;
  border-radius: 8px;
  cursor: pointer;
}

.pagination-btn:hover {
  background: #ffe7d1;
}

.page-number {
  font-weight: bold;
  font-size: 16px;
}
