.accounts-container {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  font-family: Arial, sans-serif;
}

/* TOP BAR */
.accounts-topbar {
  display: flex;
  align-items: center;
  gap: 15px;
  border: 1px solid #ffa94d;
  padding: 10px 20px;
  border-radius: 8px;
  margin-bottom: 40px;
}

.back-arrow {
  font-size: 24px;
  cursor: pointer;
}

.accounts-topbar h1 {
  flex-grow: 1;
  text-align: center;
  margin-right: 40px;
}

/* ICON CARDS GRID */
.accounts-grid {
  display: flex;
  justify-content: space-around;
  margin: 30px 0 50px 0;
}

.accounts-card {
  width: 160px;
  height: 160px;
  background: white;
  border-radius: 16px;
  border: 2px solid #ffa94d;
  box-shadow: 0 4px 10px rgba(0,0,0,0.15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.accounts-card:hover {
  transform: translateY(-6px);
}

.accounts-icon {
  width: 70px;
  height: 70px;
}

.accounts-title {
  margin-top: 12px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

/* GRAPH TITLE */
.graph-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
    text-align: center; 
}

/* CHART WRAPPER */
.chart-wrapper {
  width: 50%;
  height: 50%;
  padding: 20px;
  border: 1px solid #ffa94d;
  border-radius: 10px;
  background: #fffaf3;
margin: 0 auto; 
}
